.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #5bec5b;
  padding-bottom: 10px;
}

.navbar-header {
  font-size: 30px;
  font-weight: 700;
  margin-left: 40px;
  margin-top: 9px;
}

.navbar-ul {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.navbar-ul li {
  padding: 0 20px;
}

.navbar-ul li:not(:last-child) {
  border-right: 1px solid gray;
}

.logout-li {
  cursor: pointer;
}
